body {
	font-family: cursive;
	background-image: url(https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010_640.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.container {
    border-radius: 25px;
	width: 300px;
	margin: 40px auto;
	padding: 20px;
	background-color: #928f64;
	border: 2px solid #050505;
	box-shadow: 0 0 10px rgba(148, 129, 129, 0.1);  
	opacity: 0.7; /* Make the container slightly transparent */

}

h2{
    text-align: center;
}
form {
	margin-top: 20px;
    
}

label {
	margin-top: 10px;
	margin-bottom: 10px;
    
}

input[type="text"], input[type="email"], input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
    font-family: cursive;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.registerbtn {
    background-color: aliceblue; /* Change the background color */
    color: #0a0101;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: cursive;
    border: none; /* Remove the border */
    font-size: 15px; 
  }
  
  .registerbtn:hover {
    background-color: #01060c; 
    color: aliceblue;
  }


